.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.main svg {
    font-size: 3.2rem;
}

@media (max-width: 720px) {
    .main {
        /* flex-direction: column; */
        flex-wrap: wrap;
        gap: 10px 0;
    }

    .main h1 {
        width: 100%;
    }
}